body {
  margin-top: 10%;
  background-color: #3d3d3d;
}
h1 {
  font-family: Lato;
  text-align: center;
  font-size: 27px;
  color: WHITE;
}

h2 {
  font-family: Lato;
  text-align: center;
  font-size: 20px;
}

h3 {
  font-family: Lato;
  text-align: center;
  font-size: 19px;
  color: WHITE;
}

#meta {
  margin-top: -10px;
}

a {
  text-decoration: none;
  color: WHITE;
}

a:hover {
  color: #00B3B3;
}

@media only screen and (max-width: 500px) {
  body {
    margin-top: 10%
  }
  h1 {
    font-family: Lato;
    text-align: center;
    font-size: 27px;
  }

  h2 {
    font-family: Lato;
    text-align: center;
    font-size: 20px;
  }

  h3 {
    font-family: Lato;
    text-align: center;
    font-size:19px;
  }

  a {
    text-decoration: none;
    color: BLACK;
  }

  a:hover {
    color: BLACK;
  }
}
