@media screen and (min-width: 600px) {
}

a {
  text-decoration: none;
  color: #551A8B;
}

a:hover {
  background-color: #551A8B;
  color: white;
}

p, h1 {
  font-family: "Lucida Console","Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1.7;
}

p {
  margin: 0;
}

.bullet {
  margin-bottom: 0.5em;
}

#nav {
  max-width: 32em;
  margin: 0 auto;
  height: 2em;
}

#center {
  max-width: 32em;
  margin: 0 auto;
}

#footer {  
  max-width: 32em;
  margin: 0 auto;
}

.footer-text {
  color: dimgray;
  font-size: 0.9em;
  align-items: center;
}