@import 'theme';
$theme-font: Roboto, sans-serif;

body {
  font-family: $theme-font;
  background-color: $theme-Light;
  h1,
  h2 {
    color: $theme-Dark;
  }
  h3 {
    font-size: 12px;
  }
  #app {
    color: #000000;
    margin: 0 auto;
    margin-top: 125px;
    width: fit-content;
  }
  .footer {
    color: #dbdbdb;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
  }
}
